In [1]:
## This is me trying my best

In [2]:
import pandas as pd
import numpy as np

In [3]:
## Data file is Arrest_Data_from_2010_to_2019.csv

In [4]:
import csv

In [23]:
arrest_data = pd.read_csv('https://raw.githubusercontent.com/gracevharmon/JOUR554/7a274698d44edb4f9bfc870f573859c03afcbc3b/Arrest_Data_from_2010_to_2019.csv')

In [24]:
arrest_data.columns = arrest_data.columns.str.lower().str.replace(' ' ,'_')

In [25]:
arrest_data.columns

Index(['report_id', 'report_type', 'arrest_date', 'time', 'area_id',
       'area_name', 'reporting_district', 'age', 'sex_code', 'descent_code',
       'charge_group_code', 'charge_group_description', 'arrest_type_code',
       'charge', 'charge_description', 'disposition_description', 'address',
       'cross_street', 'lat', 'lon', 'location', 'booking_date',
       'booking_time', 'booking_location', 'booking_location_code'],
      dtype='object')

In [31]:
df = arrest_data[['age', 'sex_code', 'descent_code',
       'charge_group_code', 'charge_group_description','charge', 'charge_description','address','lat', 'lon', 'location']]

In [32]:
df.head()

,age,sex_code,descent_code,charge_group_code,charge_group_description,charge,charge_description,address,lat,lon,location
0,58,M,B,NaN,NaN,42.03(A)LAM,NaN,FIGUEROA,34.014,-118.2827,POINT (-118.2827 34.014)
1,20,M,H,23.0,Moving Traffic Violations,13004(C)VC,DISPLAY ANOTHER'S ID CARD,3900 S FIGUEROA ST,34.014,-118.2827,POINT (-118.2827 34.014)
2,30,M,B,17.0,Liquor Laws,41.27HLAMC,POSS OPEN CONTAINER ALC BEV,39TH,34.014,-118.2827,POINT (-118.2827 34.014)
3,41,M,B,24.0,Miscellaneous Other Violations,41.45CLAMC,ILLEGAL POSSESSION OF SHOPPING CART,FIGUEROA,34.014,-118.2827,POINT (-118.2827 34.014)
4,54,M,B,24.0,Miscellaneous Other Violations,41.45CLAMC,ILLEGAL POSSESSION OF SHOPPING CART,FIGUEROA ST,34.014,-118.2827,POINT (-118.2827 34.014)

In [34]:
df.age.min()

14

In [35]:
df.age.mean()

33.77292576419214

In [59]:
ages = df.groupby(['charge_group_description']).agg({'age':'mean'}).round(0).reset_index()

In [60]:
ages

          charge_group_description   age
0               Aggravated Assault  38.0
1                         Burglary  25.0
2               Disorderly Conduct  27.0
3          Driving Under Influence  34.0
4                       Drunkeness  44.0
5              Forgery/Counterfeit  42.0
6               Fraud/Embezzlement  46.0
7                         Gambling  34.0
8                          Larceny  40.0
9                      Liquor Laws  27.0
10  Miscellaneous Other Violations  36.0
11       Moving Traffic Violations  35.0
12              Narcotic Drug Laws  25.0
13                  Other Assaults  33.0
14                            Rape  28.0
15         Receive Stolen Property  40.0
16                         Robbery  19.0
17          Sex (except rape/prst)  36.0
18                   Vehicle Theft  24.0
19             Weapon (carry/poss)  23.0

In [46]:
ages.sort_values('')

          charge_group_description   age
16                         Robbery  19.0
19             Weapon (carry/poss)  23.0
18                   Vehicle Theft  24.0
1                         Burglary  25.0
12              Narcotic Drug Laws  25.0
9                      Liquor Laws  27.0
2               Disorderly Conduct  27.0
14                            Rape  28.0
13                  Other Assaults  33.0
7                         Gambling  34.0
3          Driving Under Influence  34.0
11       Moving Traffic Violations  35.0
10  Miscellaneous Other Violations  36.0
17          Sex (except rape/prst)  36.0
0               Aggravated Assault  38.0
8                          Larceny  40.0
15         Receive Stolen Property  40.0
5              Forgery/Counterfeit  42.0
4                       Drunkeness  44.0
6               Fraud/Embezzlement  46.0