In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
url = (
    "https://controllerdata.lacity.org/api/views/pazn-qyym/rows.csv?accessType=DOWNLOAD"
)

# Read the data

In [74]:
data = pd.read_csv(
    url,
    dtype={
        "Overtime Pay": "float",
        "Year": "str",
        "Base Pay": "float",
        "Total Payments": "float",
        "Department Title": "str",
        "Row ID": "str",
        "Record Number": "str",
    },
    low_memory=False,
)

In [75]:
df = data.copy()

In [76]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371455 entries, 0 to 371454
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   row_id                        371455 non-null  object
 1   year                          371455 non-null  object
 2   department_title              371455 non-null  object
 3   payroll_department            301851 non-null  float64
 4   record_number                 371455 non-null  object
 5   job_class_title               371455 non-null  object
 6   employment_type               371455 non-null  object
 7   hourly_or_event_rate          350434 non-null  float64
 8   projected_annual_salary       371455 non-null  float64
 9   q1_payments                   371455 non-null  float64
 10  q2_payments                   371455 non-null  float64
 11  q3_payments                   371455 non-null  float64
 12  q4_payments                   371455 non-null  float64
 13  payments_over_base_pay        174094 non-null  float64
 14  %_over_base_pay               174094 non-null  float64
 15  total_payments                371455 non-null  float64
 16  base_pay                      371455 non-null  float64
 17  permanent_bonus_pay           371455 non-null  float64
 18  longevity_bonus_pay           371455 non-null  float64
 19  temporary_bonus_pay           371455 non-null  float64
 20  lump_sum_pay                  303246 non-null  float64
 21  overtime_pay                  370060 non-null  float64
 22  other_pay_&_adjustments       371455 non-null  float64
 23  other_pay_(payroll_explorer)  371455 non-null  float64
 24  mou                           350434 non-null  object
 25  mou_title                     350434 non-null  object
 26  fms_department                371455 non-null  int64
 27  job_class                     371455 non-null  int64
 28  pay_grade                     301851 non-null  object
 29  average_health_cost           371455 non-null  float64
 30  average_dental_cost           371455 non-null  float64
 31  average_basic_life            371455 non-null  float64
 32  average_benefit_cost          371455 non-null  float64
 33  benefits_plan                 304896 non-null  object
 34  job_class_link                371455 non-null  object
dtypes: float64(22), int64(2), object(11)
memory usage: 99.2+ MB

# Define what overtime or no overtime means to Python

In [78]:
received_overtime = df[(df["overtime_pay"] >= 1.0)]

In [79]:
received_overtime.value_counts(["department_title"], ascending=False).head(5)

department_title
Water And Power (DWP)        56780
Police (LAPD)                48889
Fire (LAFD)                  17351
Airports (LAWA)              14040
Public Works - Sanitation    11264
dtype: int64

In [80]:
received_overtime.value_counts(["department_title"], ascending=True).head(5)

department_title
Council District 03 (CD 3)     1
Public Accountability          1
Council District 11 (CD 11)    1
Council District 04 (CD 4)     1
Council District 09 (CD 9)     1
dtype: int64

In [81]:
no_overtime = df[(df["overtime_pay"] == 0.0)]

In [82]:
no_overtime.value_counts(["department_title"], ascending=False).head(5)

department_title
Recreation And Parks         34049
Police (LAPD)                19611
Water And Power (DWP)        11391
Library                       8972
Public Works - Sanitation     7899
dtype: int64

In [83]:
no_overtime.value_counts(["department_title"], ascending=True).head(5)

department_title
Human Relations Commission                          1
Commission on the Status of Women                   2
Environmental Affairs                               4
Cannabis                                            4
Commission on Children, Youth and their Families    6
dtype: int64

# How many employees worked for each department from 2013-2018?

In [84]:
dept_emp_num = df.groupby("department_title")["department_title"].count()
print(dept_emp_num)

department_title
Aging                       309
Airports                   3889
Airports (LAWA)           19562
Animal Services            2240
Building and Safety        6356
                          ...
Transportation             2231
Transportation (LADOT)    10425
Treasurer                     8
Water And Power (DWP)     69604
Zoo                        2413
Name: department_title, Length: 93, dtype: int64

In [85]:
dept_emp_num = df.groupby("department_title")["department_title"].count()
print(dept_emp_num)

department_title
Aging                       309
Airports                   3889
Airports (LAWA)           19562
Animal Services            2240
Building and Safety        6356
                          ...
Transportation             2231
Transportation (LADOT)    10425
Treasurer                     8
Water And Power (DWP)     69604
Zoo                        2413
Name: department_title, Length: 93, dtype: int64

# What was the mean and sum amount of overtime pay that each department got overall?

In [86]:
df.groupby("department_title").overtime_pay.agg(["count", "mean", "sum"]).reset_index()

          department_title  count          mean           sum
0                    Aging    309     43.365307  1.339988e+04
1                 Airports   3889  10437.341913  4.059082e+07
2          Airports (LAWA)  19562   9145.433919  1.789030e+08
3          Animal Services   2240    390.923656  8.756690e+05
4      Building and Safety   6356   8288.750065  5.268330e+07
..                     ...    ...           ...           ...
88          Transportation   2231   7556.035513  1.685752e+07
89  Transportation (LADOT)  10425   7497.921424  7.816583e+07
90               Treasurer      8      0.000000  0.000000e+00
91   Water And Power (DWP)  68209  15394.608957  1.050051e+09
92                     Zoo   2413    316.169068  7.629160e+05

[93 rows x 4 columns]

# What 5 departments paid their employees the MOST and the LEAST overtime in 2013?

In [87]:
depts_sortedby2013 = df.loc[df["year"] == "2013",].groupby("department_title")

In [88]:
depts_sortedby2013.sum().sort_values(["overtime_pay"], ascending=False).head(5)[
    "overtime_pay"
]

department_title
Fire (LAFD)               1.419297e+08
Water And Power (DWP)     1.290176e+08
Airports (LAWA)           3.022576e+07
Police (LAPD)             2.410065e+07
Transportation (LADOT)    1.410106e+07
Name: overtime_pay, dtype: float64

In [89]:
depts_sortedby2013.sum().sort_values(["overtime_pay"], ascending=True).head(5)[
    "overtime_pay"
]

department_title
Council District 01 (CD 1)     0.0
Council District 10 (CD 10)    0.0
Council District 08 (CD 8)     0.0
Council District 06 (CD 6)     0.0
Council District 05 (CD 5)     0.0
Name: overtime_pay, dtype: float64

# What 5 departments paid their employees the MOST and the LEAST overtime in 2014?

In [90]:
depts_def2014 = df.loc[df["year"] == "2014",].groupby("department_title")

In [91]:
depts_def2014.sum().sort_values(["overtime_pay"], ascending=False).head(5)[
    "overtime_pay"
]

department_title
Fire (LAFD)               1.629058e+08
Water And Power (DWP)     1.439921e+08
Police (LAPD)             7.229036e+07
Airports (LAWA)           3.499991e+07
Transportation (LADOT)    1.524562e+07
Name: overtime_pay, dtype: float64

In [92]:
depts_def2014.sum().sort_values(["overtime_pay"], ascending=True).head(5)[
    "overtime_pay"
]

department_title
Council District 01 (CD 1)     0.0
Council District 11 (CD 11)    0.0
Council District 10 (CD 10)    0.0
Council District 09 (CD 9)     0.0
Council District 08 (CD 8)     0.0
Name: overtime_pay, dtype: float64

# What 5 departments paid their employees the MOST and the LEAST overtime in 2015?

In [93]:
depts_sortedby2015 = df.loc[df["year"] == "2015",].groupby("department_title")

In [94]:
depts_sortedby2015.sum().sort_values(["overtime_pay"], ascending=False).head(5)[
    "overtime_pay"
]

department_title
Fire (LAFD)               1.862242e+08
Water And Power (DWP)     1.651589e+08
Police (LAPD)             9.665357e+07
Airports (LAWA)           3.974570e+07
Transportation (LADOT)    1.452112e+07
Name: overtime_pay, dtype: float64

In [95]:
depts_sortedby2015.sum().sort_values(["overtime_pay"], ascending=True).head(5)[
    "overtime_pay"
]

department_title
Council District 13 (CD 13)    0.0
Council District 07 (CD 7)     0.0
Council District 06 (CD 6)     0.0
Council District 05 (CD 5)     0.0
Council District 10 (CD 10)    0.0
Name: overtime_pay, dtype: float64

# What 5 departments paid their employees the MOST and the LEAST overtime in 2016?

In [96]:
depts_sortedby2016 = df.loc[df["year"] == "2016",].groupby("department_title")

In [32]:
depts_sortedby2016.sum().sort_values(["overtime_pay"], ascending=False).head(5)[
    "overtime_pay"
]

department_title
Fire (LAFD)               1.878732e+08
Water And Power (DWP)     1.705126e+08
Police (LAPD)             1.052893e+08
Airports (LAWA)           4.028817e+07
Transportation (LADOT)    1.595821e+07
Name: overtime_pay, dtype: float64

In [33]:
depts_sortedby2016.sum().sort_values(["overtime_pay"], ascending=True).head(5)[
    "overtime_pay"
]

department_title
Aging                         0.0
Council District 08 (CD 8)    0.0
Council District 07 (CD 7)    0.0
Council District 06 (CD 6)    0.0
Council District 05 (CD 5)    0.0
Name: overtime_pay, dtype: float64

# What 5 departments paid their employees the MOST and the LEAST overtime in 2017?

In [34]:
depts_sortedby2017 = df.loc[df["year"] == "2017",].groupby("department_title")

In [35]:
depts_sortedby2017.sum().sort_values(["overtime_pay"], ascending=False).head(5)[
    "overtime_pay"
]

department_title
Fire                         1.981769e+08
Water And Power (DWP)        1.896433e+08
Police                       1.342280e+08
Airports                     4.059082e+07
Public Works - Sanitation    1.780212e+07
Name: overtime_pay, dtype: float64

In [36]:
depts_sortedby2017.sum().sort_values(["overtime_pay"], ascending=True).head(5)[
    "overtime_pay"
]

department_title
Council District 05    0.0
Council District 11    0.0
Council District 10    0.0
Council District 14    0.0
Council District 06    0.0
Name: overtime_pay, dtype: float64

# What 5 departments paid their employees the MOST and the LEAST overtime in 2018?

In [53]:
depts_sortedby2018 = df.loc[df["year"] == "2018",].groupby("department_title")

In [54]:
depts_sortedby2018.sum().sort_values(["overtime_pay"], ascending=False).head(5)[
    "overtime_pay"
]

department_title
Water And Power (DWP)        2.517264e+08
Fire (LAFD)                  1.967397e+08
Police (LAPD)                1.519827e+08
Airports (LAWA)              3.364344e+07
Public Works - Sanitation    1.847180e+07
Name: overtime_pay, dtype: float64

In [55]:
depts_sortedby2018.sum().sort_values(["overtime_pay"], ascending=True).head(5)[
    "overtime_pay"
]

department_title
Aging                          0.0
Council District 15 (CD 15)    0.0
Council District 13 (CD 13)    0.0
Council District 12 (CD 12)    0.0
Council District 11 (CD 11)    0.0
Name: overtime_pay, dtype: float64

# Let's look at the mean, maximum, and minumum overtime amounts for each department year by year

In [97]:
overtime_pay = df[["year", "department_title", "overtime_pay"]]

In [98]:
print("overtime_pay:")

print("Mean Overtime for All Departments:")
print(overtime_pay.groupby("year").agg({"overtime_pay": "mean"}))


print("Max Overtime By Department:")
print(
    overtime_pay.groupby("year").apply(
        lambda x: x[x["overtime_pay"] == x["overtime_pay"].max()]
    )
)


print("Minimum Overtime By Department:")
print(
    overtime_pay.groupby("year").apply(
        lambda x: x[x["overtime_pay"] == x["overtime_pay"].min()]
    )
)

overtime_pay:
Mean Overtime for All Departments:
      overtime_pay
year
2013   6539.704504
2014   8298.317302
2015   9277.312312
2016   9398.952923
2017  10157.145152
2018   9860.020217
Max Overtime By Department:
             year       department_title  overtime_pay
year
2013 27448   2013            Fire (LAFD)     242033.21
2014 84519   2014            Fire (LAFD)     286535.97
2015 115704  2015            Fire (LAFD)     311315.62
2016 299388  2016            Fire (LAFD)     334654.93
2017 247400  2017                   Fire     306405.43
2018 369538  2018  Water And Power (DWP)     308745.34
Minimum Overtime By Department:
             year       department_title  overtime_pay
year
2013 57361   2013          Police (LAPD)      -1019.49
2014 81996   2014          Police (LAPD)       -670.82
2015 159216  2015          Police (LAPD)       -596.13
2016 332561  2016  Water And Power (DWP)      -1087.58
2017 271902  2017  Water And Power (DWP)      -1087.58
2018 368470  2018  Water And Power (DWP)      -1129.41

In [ ]:
# depts_definition = df.groupby(["department_title"])

In [ ]:
# depts_definition.head(10)

In [99]:
depts_pay = (
    data.groupby(df["department_title"])
    .sum({"over_time": "sum", "base_pay": "sum"})
    .reset_index()
)

# How many employees worked in each department each year?

In [100]:
total_employee_count = df[
    ["department_title", "department_title", "record_number", "year"]
]

In [101]:
total_employee_count.head(5)

  department_title department_title record_number  year
0    Police (LAPD)    Police (LAPD)    1000027830  2013
1    Police (LAPD)    Police (LAPD)    1000155488  2013
2    Police (LAPD)    Police (LAPD)    1000194958  2013
3              Zoo              Zoo    1000198958  2013
4    Police (LAPD)    Police (LAPD)    1000232317  2013

In [102]:
total_employee_count.groupby("year")["year"].count()

year
2013    57379
2014    56948
2015    59767
2016    61009
2017    63919
2018    72433
Name: year, dtype: int64

In [140]:
# total_employee_count.groupby("year")["department_title"].count("record_number")
# total_employee_count.groupby(
# ["year"],["department_title"], as_index=False)

# Let's focus on one year and the three departments that paid the most overtime each year: 2014, LAFD, LAPD, AND DWP.

[Water And Power (DWP)]
[Police (LAPD)]
[Fire (LAFD)]

In [123]:
DWP_2014 = df.loc[df["year"] == "2014"]

In [155]:
DWP_2014.loc[df["department_title"] == "Water And Power (DWP)"].groupby(
    "overtime_pay"
).head()

,row_id,year,department_title,payroll_department,record_number,job_class_title,employment_type,hourly_or_event_rate,projected_annual_salary,q1_payments,...,mou_title,fms_department,job_class,pay_grade,average_health_cost,average_dental_cost,average_basic_life,average_benefit_cost,benefits_plan,job_class_link
17783,4-1147984106dwp1505Pa,2014,Water And Power (DWP),NaN,1147984106,Student Trainee Worker,Part Time,NaN,19836.00,808.45,...,NaN,98,1505,NaN,0.00,0.00,0.0,0.00,NaN,http://per.lacity.org/perspecs/1505.pdf
18395,4-1226924308dwp1866Fu,2014,Water And Power (DWP),NaN,1226924308,Stores Supervisor,Full Time,NaN,120874.32,0.00,...,NaN,98,1866,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/1866.pdf
22741,4-1634849167dwp1611Fu,2014,Water And Power (DWP),NaN,1634849167,Meter Reader,Full Time,NaN,56041.92,0.00,...,NaN,98,1611,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/1611.pdf
24239,4-19790351dwp941Fu,2014,Water And Power (DWP),NaN,19790351,Construction Helper,Full Time,NaN,59278.32,1872.79,...,NaN,98,941,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/0941.pdf
24680,4-110013057dwp920Fu,2014,Water And Power (DWP),NaN,110013057,Construction Equipment Operator,Full Time,NaN,84125.52,1224.00,...,NaN,98,920,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/0920.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114379,4-999134163dwp5622Fu,2014,Water And Power (DWP),NaN,999134163,Steam Plant Assistant,Full Time,NaN,77506.56,25488.90,...,NaN,98,5622,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/5622.pdf
114382,4-999316575dwp994Fu,2014,Water And Power (DWP),NaN,999316575,Construction Electrical Helper,Full Time,NaN,62180.64,0.00,...,NaN,98,994,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/0994.pdf
114383,4-999373404dwp3586Fu,2014,Water And Power (DWP),NaN,999373404,Truck And Equipment Dispatcher,Full Time,NaN,107448.48,32446.08,...,NaN,98,3586,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/3586.pdf
114389,4-999760504dwp5224Fu,2014,Water And Power (DWP),NaN,999760504,Electric Station Operator,Full Time,NaN,70929.36,24759.72,...,NaN,98,5224,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/5224.pdf
114391,4-999958886dwp1358Fu,2014,Water And Power (DWP),NaN,999958886,Clerk Typist,Full Time,NaN,46541.52,0.00,...,NaN,98,1358,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/1358.pdf

In [157]:
DWP_JOBS_2014 = (
    DWP_2014.loc[df["department_title"] == "Water And Power (DWP)"]
    .groupby("job_class_title")
    .head()
)

In [158]:
DWP_JOBS_2014

,row_id,year,department_title,payroll_department,record_number,job_class_title,employment_type,hourly_or_event_rate,projected_annual_salary,q1_payments,...,mou_title,fms_department,job_class,pay_grade,average_health_cost,average_dental_cost,average_basic_life,average_benefit_cost,benefits_plan,job_class_link
17783,4-1147984106dwp1505Pa,2014,Water And Power (DWP),NaN,1147984106,Student Trainee Worker,Part Time,NaN,19836.00,808.45,...,NaN,98,1505,NaN,0.00,0.00,0.0,0.00,NaN,http://per.lacity.org/perspecs/1505.pdf
18395,4-1226924308dwp1866Fu,2014,Water And Power (DWP),NaN,1226924308,Stores Supervisor,Full Time,NaN,120874.32,0.00,...,NaN,98,1866,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/1866.pdf
22741,4-1634849167dwp1611Fu,2014,Water And Power (DWP),NaN,1634849167,Meter Reader,Full Time,NaN,56041.92,0.00,...,NaN,98,1611,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/1611.pdf
24239,4-19790351dwp941Fu,2014,Water And Power (DWP),NaN,19790351,Construction Helper,Full Time,NaN,59278.32,1872.79,...,NaN,98,941,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/0941.pdf
24680,4-110013057dwp920Fu,2014,Water And Power (DWP),NaN,110013057,Construction Equipment Operator,Full Time,NaN,84125.52,1224.00,...,NaN,98,920,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/0920.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113772,4-959909816dwp2331Fu,2014,Water And Power (DWP),NaN,959909816,Senior Industrial Hygienist,Full Time,NaN,136743.12,27080.12,...,NaN,98,2331,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/2331.pdf
113790,4-960758540dwp7935Fu,2014,Water And Power (DWP),NaN,960758540,Graphics Supervisor,Full Time,NaN,110622.24,23005.23,...,NaN,98,7935,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/7935.pdf
113814,4-96195939dwp3800Fu,2014,Water And Power (DWP),NaN,96195939,Communications Cable Supervisor,Full Time,NaN,125676.72,37909.27,...,NaN,98,3800,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/3800.pdf
113865,4-965911255dwp3863Fu,2014,Water And Power (DWP),NaN,965911255,Electrician,Full Time,NaN,99848.16,34205.52,...,NaN,98,3863,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/3863.pdf
114095,4-980659207dwp1786Fu,2014,Water And Power (DWP),NaN,980659207,Principal Public Relations Representative,Full Time,NaN,151212.96,36118.52,...,NaN,98,1786,NaN,16842.08,1282.61,0.0,18124.69,DWP,http://per.lacity.org/perspecs/1786.pdf

In [165]:
DWP_JOBS_2014.groupby("job_class_title").head(5)["overtime_pay"]

17783          NaN
18395         0.00
22741       370.39
24239         0.00
24680         0.00
            ...
113772        0.00
113790     9015.06
113814    20495.87
113865    28552.92
114095     1554.72
Name: overtime_pay, Length: 1361, dtype: float64

In [163]:
# topdwp_2014.groupby("job_class_title")
# depts_sortedby2013 = df.loc[df["year"] == "2013",].groupby("department_title")
# depts_sortedby2013.sum().sort_values(["overtime_pay"], ascending=False).head(5)["overtime_pay"]

# Which 10 departments spent the most money on overtime overall (sum of 2013-2018)?

In [ ]:
depts_overtime_mean = depts_pay.groupby(["year", "department_title"]).agg({"overtime_pay":"mean", "base_pay":"mean"}).reset_index()

In [177]:
df.groupby("department_title").sum().sort_values(
    ["overtime_pay"], ascending=False
).head(10)["overtime_pay"]

department_title
Water And Power (DWP)             1.050051e+09
Fire (LAFD)                       8.756727e+08
Police (LAPD)                     4.503165e+08
Fire                              1.981769e+08
Airports (LAWA)                   1.789030e+08
Police                            1.342280e+08
Public Works - Sanitation         8.654849e+07
Transportation (LADOT)            7.816583e+07
Building and Safety               5.268330e+07
Public Works - Street Services    5.131754e+07
Name: overtime_pay, dtype: float64

# What job class earned the most overtime pay over the years 2013-2018?

In [182]:
df.groupby(["job_class_title", "department_title", "record_number"]).sum().sort_values(
    ["overtime_pay"], ascending=False
).head(10)["overtime_pay"]

job_class_title                              department_title       record_number
Firefighter III                              Fire (LAFD)            2837442648       1428050.36
Fire Captain I                               Fire (LAFD)            1081092723       1284346.95
Fire Inspector II                            Fire (LAFD)            114779553        1018832.87
Firefighter III                              Fire (LAFD)            1691209126       1004287.35
Electrical Distribution Mechanic Supervisor  Water And Power (DWP)  2973354356        994743.57
Fire Captain I                               Fire (LAFD)            3857331564        984529.28
Fire Inspector II                            Fire (LAFD)            2859591997        914162.18
Firefighter III                              Fire (LAFD)            3193362034        893217.42
Electric Distribution Mechanic               Water And Power (DWP)  687873419         884342.93
Engineer of Fire Department                  Fire (LAFD)            4105104840        861094.52
Name: overtime_pay, dtype: float64

# What specific people/employees earned the most overtime over the years 2013-2018?

In [183]:
df.groupby(["job_class_title", "department_title", "record_number"]).sum().sort_values(
    ["overtime_pay"], ascending=False
).head(10)["overtime_pay"]

job_class_title                              department_title       record_number
Firefighter III                              Fire (LAFD)            2837442648       1428050.36
Fire Captain I                               Fire (LAFD)            1081092723       1284346.95
Fire Inspector II                            Fire (LAFD)            114779553        1018832.87
Firefighter III                              Fire (LAFD)            1691209126       1004287.35
Electrical Distribution Mechanic Supervisor  Water And Power (DWP)  2973354356        994743.57
Fire Captain I                               Fire (LAFD)            3857331564        984529.28
Fire Inspector II                            Fire (LAFD)            2859591997        914162.18
Firefighter III                              Fire (LAFD)            3193362034        893217.42
Electric Distribution Mechanic               Water And Power (DWP)  687873419         884342.93
Engineer of Fire Department                  Fire (LAFD)            4105104840        861094.52
Name: overtime_pay, dtype: float64

# What 10 people/employees earned the most overtime year by year?

In [186]:
df.loc[df["year"] == "2013",].groupby(
    ["job_class_title", "department_title", "record_number"]
).sum().sort_values(["overtime_pay"], ascending=False).head(10)["overtime_pay"]

job_class_title                   department_title       record_number
Firefighter III                   Fire (LAFD)            2837442648       242033.21
Fire Captain I                    Fire (LAFD)            2236794545       240229.39
                                                         1016325312       222765.52
                                                         3033406281       213228.57
                                                         3532018065       211071.17
                                                         2344853128       189090.27
                                                         1447270643       181852.75
                                                         357236164        171894.91
                                                         3692077766       167318.88
Steam Plant Operating Supervisor  Water And Power (DWP)  3231062265       165166.05
Name: overtime_pay, dtype: float64

In [181]:
df.loc[df["year"] == "2014",].groupby(
    ["job_class_title", "department_title", "record_number"]
).sum().sort_values(["overtime_pay"], ascending=False).head(10)["overtime_pay"]

job_class_title                              department_title       record_number
Firefighter III                              Fire (LAFD)            2837442648       286535.97
Fire Captain I                               Fire (LAFD)            2236794545       229977.12
                                                                    3532018065       219730.10
Fire Inspector II                            Fire (LAFD)            114779553        218384.37
Fire Captain III                             Fire (LAFD)            1016325312       217861.59
Fire Captain I                               Fire (LAFD)            1081092723       208447.43
                                                                    3857331564       199901.71
Electrical Distribution Mechanic Supervisor  Water And Power (DWP)  2973354356       199385.01
Engineer of Fire Department                  Fire (LAFD)            1180046869       195053.78
Fire Captain I                               Fire (LAFD)            3033406281       187774.45
Name: overtime_pay, dtype: float64

In [185]:
df.loc[df["year"] == "2015",].groupby(
    ["job_class_title", "department_title", "record_number"]
).sum().sort_values(["overtime_pay"], ascending=False).head(10)["overtime_pay"]

job_class_title     department_title  record_number
Fire Captain I      Fire (LAFD)       1081092723       311315.62
Firefighter III     Fire (LAFD)       2837442648       286732.56
Fire Captain I      Fire (LAFD)       2236794545       273495.60
Fire Captain II     Fire (LAFD)       2734423944       230139.60
Apparatus Operator  Fire (LAFD)       4055219444       228209.95
Firefighter III     Fire (LAFD)       4025962128       222797.29
Fire Captain I      Fire (LAFD)       3857331564       222679.71
Fire Inspector I    Fire (LAFD)       3593364809       222287.35
Fire Captain II     Fire (LAFD)       1514495204       217116.69
                                      1016325312       217085.94
Name: overtime_pay, dtype: float64

In [187]:
df.loc[df["year"] == "2016",].groupby(
    ["job_class_title", "department_title", "record_number"]
).sum().sort_values(["overtime_pay"], ascending=False).head(10)["overtime_pay"]

job_class_title    department_title  record_number
Fire Captain II    Fire (LAFD)       2236794545       334654.93
Fire Captain I     Fire (LAFD)       1081092723       332582.52
Firefighter III    Fire (LAFD)       2837442648       307541.73
Fire Captain I     Fire (LAFD)       3857331564       244445.03
Fire Captain II    Fire (LAFD)       2734423944       225224.05
                                     1514495204       224034.58
Fire Inspector II  Fire (LAFD)       2859591997       222133.34
                                     114779553        219194.94
Fireboat Pilot     Fire (LAFD)       3503214219       219143.14
Firefighter III    Fire (LAFD)       1691209126       218597.72
Name: overtime_pay, dtype: float64

In [188]:
df.loc[df["year"] == "2017",].groupby(
    ["job_class_title", "department_title", "record_number"]
).sum().sort_values(["overtime_pay"], ascending=False).head(10)["overtime_pay"]

job_class_title    department_title  record_number
Firefighter III    Fire              2837442648       306405.43
Fire Captain II    Fire              2236794545       284882.29
Fire Captain I     Fire              1081092723       280181.87
Firefighter III    Fire              1691209126       258877.60
Fire Captain I     Fire              1180046869       254737.92
Fire Captain II    Fire              1514495204       250363.08
Fire Inspector II  Fire              2859591997       245640.31
Fire Captain I     Fire              3857331564       242982.19
Firefighter III    Fire              1842195041       231819.77
Fire Captain I     Fire              2744766611       226040.71
Name: overtime_pay, dtype: float64

In [189]:
df.loc[df["year"] == "2018",].groupby(
    ["job_class_title", "department_title", "record_number"]
).sum().sort_values(["overtime_pay"], ascending=False).head(10)["overtime_pay"]

job_class_title                              department_title       record_number
Principal Security Officer                   Water And Power (DWP)  67886147         308745.34
Firefighter III                              Fire (LAFD)            2837442648       305206.89
Fire Captain I                               Fire (LAFD)            1081092723       298651.69
Firefighter III                              Fire (LAFD)            1842195041       292010.81
                                                                    1691209126       291476.88
Fire Captain I                               Fire (LAFD)            1180046869       272419.75
Fire Captain II                              Fire (LAFD)            1514495204       262651.47
Firefighter III                              Fire (LAFD)            2771305138       254728.02
Electrical Distribution Mechanic Supervisor  Water And Power (DWP)  2973354356       244972.93
Fire Captain II                              Fire (LAFD)            1064960734       240054.71
Name: overtime_pay, dtype: float64